*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shop__products__container{
    padding-top: 120px;
}




.product__img__area:hover .additional__info{
    visibility: visible;
    opacity: 1;
    bottom: 1.5rem;
}
.bag:hover{
    background-color: rgba(30, 41, 59,1);
}
.view:hover{
    background-color: rgba(243, 244, 246,1)!important;
    color: rgba(15, 23, 42,1);
}


.pagination{
    button{
        display: inline-block;
        margin: 0 0.25rem;
        height: 2.75rem;
        width: 2.75rem;
        border-radius: 999px;
        border-width: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(75,85,99);
        border-color: rgb(229,231,235);
        background-color: rgb(255,255,255);
    }
}