*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shop__products__container{
    padding-top: 120px;
}

.product{
    background-color: initial;
    position: relative;
    display: flex;
    flex-direction: column;
    &__img__area{
        background-color: rgb(248,250,252);
        opacity: 1;
        border-radius: 1.5rem;
        overflow: hidden;
        position: relative;
    }
    &__image{
        width: 100%;
        height: 0;
        display: flex;
        img{
            --tw-drop-shadow: drop-shadow(0 20px 13px rgba(0,0,0,.03)) drop-shadow(0 8px 5px rgba(0,0,0,.08));
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    button{
        color: rgba(55,65,81,1);
        background-color: rgba(255,255,255,1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 99px;
        width: 2.25rem;
        height: 2.25rem;
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
        z-index: 10;
    }
    .product__details__area{
        padding: 1.25rem 0.625rem;
        .color__part{
            display: flex;
            .colors{
                width: 1.5rem;
                height: 1.5rem;
                position: relative;
                z-index: 10;
                cursor: pointer;
                border-width: 1px;
                border-radius: 99px;
                border-color: transparent;
                .color{
                    position: absolute;
                    bottom: 0.125rem;
                    left: 0.125rem;
                    right: 0.125rem;
                    top: 0.125rem;
                    border-radius: 99px;
                }
                .violet{
                    background-color: rgba(167,139,250,1);
                }
                .yellow{
                    background-color: rgb(250 ,204, 21,1);;
                }
                .orange{
                    background-color: rgb(251 ,146, 60,1);;
                }
                .blue{
                    background-color: rgb(56 ,189, 248,1);;
                }
                .green{
                    background-color: rgb(74 ,222, 128,1);;
                }
            }
        }
        .product__title{
            h2{
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: 600;
            }
            p{
                color: rgba(100,116,139,1);
                font-size: .875rem;
                line-height: 1.25rem;
                margin-top: 0.25rem;
            }
        }
    }
    .product__details{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 1rem;
        margin-bottom: 1rem;
        .product__price{
            font-size: .875rem;
            line-height: 1.25rem;
            padding: 0.325rem 0.625rem;
            font-weight: 500;
            border-width: 2px;
            border-radius: 0.5rem;
            border-color: rgba(34,197,94,1);
            display: flex;
            align-items: center;
            span{
                line-height: 1;
                color: rgba(34,197,94,1);
            }
        }
        .product__star{
            display: flex;
            align-items: center;
            margin-bottom: 0.125rem;
            i{
                color:rgba(251, 191, 36,1);
                width: 1.25rem;
                height: 1.25rem;
                padding-bottom: 1px;
            }
            span{
                color: rgba(100,116,139,1);
                font-size: .875rem;
                line-height: 1.25rem;
                margin-left: 0.25rem;
            }
        }
    }
    
}